body {
  font-family: "Padauk", sans-serif;
}
#bg-color-green {
  background-color: rgba(139, 158, 110, 255);
  color: azure;
  text-align: left;
  font-weight: 900;
  padding-top: 10px;
}
#h1-text {
  color: azure;
  text-align: left;
  font-weight: 900;
  font-size: 50px;
}
#banner-img {
  margin-block-end: -200px;
}

@media only screen and (max-width: 688px) {
  #h1-text {
    color: rgb(243, 245, 238);
    text-align: left;
    font-weight: 900;
    font-size: 40px;
    margin-top: 0;
  }

  #banner-img {
    margin-top: 0%;
    margin-bottom: 0px;
    background-color: rgba(139, 158, 110, 255);
    justify-content: center;
    width: auto;
    padding-left: 5px;
  }
}

@media only screen and (min-width: 689px) and (max-width: 992px) {
  #h1-text {
    color: rgb(231, 234, 240);
    text-align: left;
    font-weight: 900;
    font-size: 40px;
  }

  #banner-img {
    margin-bottom: 5px;
    width: 1000px;
  }
}
