body {
  font-family: "Taviraj", serif;
}
#bg-color-green {
  background-color: rgba(139, 158, 110, 255);
  color: azure;
  text-align: left;
  font-weight: 600;
  padding-top: 10px;
}
#nav-text {
  color: azure;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
}
#h1-text {
  color: azure;
  text-align: left;
  font-weight: 600;
  font-size: 50px;
}
#banner-img {
  margin-block-end: -200px;
}
#main-section-1 {
  padding-top: 10px;
  margin-top: 7%;
  background-color: rgb(255, 255, 255);
}
#img-height {
  max-height: 300px;
}
#img-2 {
  max-height: 500px;
  width: 400px;
  justify-content: center;
  align-items: center;
}
#text-align1 {
  text-align: justify;
  font-weight: 500;
  font-size: 40px;
  text-decoration: beige;
}
#image-c6 {
  padding-right: 0;
  margin-right: 0;
}
.footer {
  text-align: center;
  justify-content: center;
  background-color: rgba(139, 158, 110, 255);
  color: aliceblue;
  padding: 20px;
}

/* photo college  */
#row-college {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

#col-college {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
@media only screen and (max-width: 688px) {
  #h1-text {
    color: rgb(243, 245, 238);
    text-align: left;
    font-weight: 500;
    font-size: 40px;
    margin-top: 0;
  }

  #banner-img {
    margin-top: 0%;
    margin-bottom: 0px;
    background-color: rgba(139, 158, 110, 255);
    justify-content: center;
    width: auto;
    padding-left: 5px;
  }

  #col-college {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 689px) and (max-width: 992px) {
  #h1-text {
    color: rgb(231, 234, 240);
    text-align: left;
    font-weight: 500;
    font-size: 40px;
  }

  #banner-img {
    margin-bottom: 5px;
    width: 1000px;
  }

  #col-college {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
